{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block header %}
    <div class="header">
        <div class="container">
            <div class="header__wrapper">
                <a class="header__logo" href="{% url 'index' %}">
                    <h1>LIBRARY</h1>
                </a>
                <ul class="header__nav">
                    <li class="header__li"><a href="{% url 'index' %}">Catalog</a></li>
                    <li class="header__li"><a href="">text</a></li>
                    <li class="header__li"><a href="">text</a></li>
                    <li class="header__li"><a href="">text</a></li>
                    <li class="header__li"><a href="">text</a></li>
                </ul>
                {% if not user.is_authenticated %}
                <div class="header__auth">
                    <a href="/registration/">Register</a>
                    <a href="/login/">Login</a>
                </div>
                {% else %}
                <div class="header__auth">
                    <a href="">Requests</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>
